[run]
source =
    adapters
    adapters/telegram
    connection
    engine
    engine/phases
    engine/services
    utils
omit =
    connection/queries.py
    engine/help.py
    engine/presets.py
    engine/roles.py
    */config/*
    */tests/*
    */__init__.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.: